<link rel="stylesheet" href="css/blog.css">
<!-- blog -->
<div class="blog-wrap">

    <div class="blog-header">
        <div class="blog-title">آخرین مقالات آموزشی</div>
        <a href="#" class="blog-more">مشاهده همه ›</a>
    </div>

    <div class="blog-layout">

        <!-- Side list -->
        <div class="blog-list">

            <div class="blog-item">
                <img src="img//edu/iot.jpeg">
                <div>
                    <div class="t">مقدمه‌ای بر Arduino</div>
                    <div class="s">5 دقیقه مطالعه</div>
                </div>
            </div>

            <div class="blog-item">
                <img src="img/edu/robatic.jpeg">
                <div>
                    <div class="t">سنسورها در رباتیک</div>
                    <div class="s">8 دقیقه مطالعه</div>
                </div>
            </div>

            <div class="blog-item">
                <img src="img/edu/micro.jpeg">
                <div>
                    <div class="t">کنترل موتور DC</div>
                    <div class="s">6 دقیقه مطالعه</div>
                </div>
            </div>

        </div>

        <!-- Featured -->
        <div class="blog-featured">
            <img src="img/edu/ardoino.jpeg" alt="">
            <div class="overlay">
                <div class="tag">ویژه</div>
                <div class="title">آموزش کامل میکروکنترلر AVR از صفر</div>
                <div class="desc">شروع مسیر حرفه‌ای در رباتیک با این مقاله</div>
            </div>
        </div>
    </div>

</div>