<link rel="stylesheet" href="css/faq.css">

<!-- FAQ -->
<div class="faq-wrap">

    <div class="faq-header">
        <div class="faq-title">سوالات متداول</div>
        <div class="faq-sub">پاسخ سوالات پرتکرار کاربران</div>
    </div>

    <div class="faq-list">

        <div class="faq-item">
            <button class="faq-q">چطور سفارش ثبت کنم؟ <span>+</span></button>
            <div class="faq-a">
                بعد از انتخاب محصول، وارد سبد خرید شده و پرداخت را انجام دهید.
            </div>
        </div>

        <div class="faq-item">
            <button class="faq-q">مدت ارسال چقدر است؟ <span>+</span></button>
            <div class="faq-a">
                سفارش‌ها معمولاً بین ۲۴ تا ۴۸ ساعت ارسال می‌شوند.
            </div>
        </div>

        <div class="faq-item">
            <button class="faq-q">آیا تضمین کیفیت وجود دارد؟ <span>+</span></button>
            <div class="faq-a">
                بله. ما ارائه دهنده بهترین کیفیت در بازار هستیم
            </div>
        </div>

    </div>

</div>

<!-- FAQ -->
<script src="js/faq.js"></script>