<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<link rel="stylesheet" href="css/nav-and-body.css">

<!-- navbar -->
<nav class="nav-wrap">
    <div class="Byisland ms-2 byLogo" id="byLogo" style="--dir: 22rem">
        <a href="#">
            <div class="logo p-1">
                <div class="logo-dot"></div>
                <span>RoboKala</span>
            </div>
        </a>
    </div>

    <div class="island" id="island">
        <div class="links">
            <button class="lnk active">خانه</button>
            <button class="lnk">محصولات</button>
            <button class="lnk">پکیج ها</button>
            <button class="lnk">تماس</button>
        </div>
        <div class="search-wrapper" id="searchWrapper">
            <input type="text" class="search-input" id="searchInput" placeholder="جستجو...">

            <button class="nav-search" id="searchBtn">
                <img src="img/search.png" alt="">
            </button>
        </div>
        <div class="peek-bar"></div>
    </div>

    <div class="Byisland account me-2" id="bybtn" style="--dir: -22rem">
        <img class="img-account" src="img/account.png" alt="account">
    </div>
</nav>

<!-- nav & searchBar -->
<script src="js/nav-and-searchBar.js"></script>