<link rel="stylesheet" href="css/product-card.css">
<div class="product-card">
    <div class="product-card__badge">13%</div>
    <div class="product-card__img"><img src="img/product/prod2.jpeg" alt=""></div>
    <div class="product-card__name">بسته دونه برفی 500 عددی</div>
    <div class="product-card__footer">
        <div class="product-card__price-box">
            <div class="product-card__old ">800,000</div>
            <div class="product-card__price">600,000 <span class="product-card__unit">تومان</span></div>
        </div>
        <div class="product-card__cart"><i class="ti ti-shopping-cart"></i></div>
    </div>
</div>