    <link rel="stylesheet" href="css/best-seller.css">
    <link rel="stylesheet" href="css/product-card.css">


<!-- slider -->
<section class="bs-wrap">
    <div class="bs-section">
        <div class="bs-header">
            <div class="bs-title">محصولات مشابه</div>
        </div>
        <button class="bs-arrow bs-next">›</button>
        <button class="bs-arrow bs-prev">‹</button>
        <div class="bs-scroll" id="bestSellerScroll">
            <div class="bs-grid">
                <div class="product-card">
                    <div class="product-card__badge">13%</div>
                    <div class="product-card__img">
                        <img src="img/product/prod1.jpeg" alt="">
                    </div>
                    <div class="product-card__name">کیت آموزشی رباتیک پایه</div>
                    <div class="product-card__footer">
                        <div class="product-card__price-box">
                            <div class="product-card__old ">800,000</div>
                            <div class="product-card__price">600,000 <span class="product-card__unit">تومان</span>
                            </div>
                        </div>
                        <div class="product-card__cart"><i class="ti ti-shopping-cart"></i></div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-card__badge">13%</div>
                    <div class="product-card__img">
                        <img src="img/product/prod2.jpeg" alt="">
                    </div>
                    <div class="product-card__name">کیت آموزشی رباتیک پایه</div>
                    <div class="product-card__footer">
                        <div class="product-card__price-box">
                            <div class="product-card__old ">800,000</div>
                            <div class="product-card__price">600,000 <span class="product-card__unit">تومان</span>
                            </div>
                        </div>
                        <div class="product-card__cart"><i class="ti ti-shopping-cart"></i></div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-card__img"><img src="img/product/prod3.jpeg" alt=""></div>
                    <div class="product-card__name">کیت آموزشی رباتیک پایه</div>

                    <div class="product-card__footer">
                        <div class="product-card__price-box">
                            <!-- <div class="product-card__old ">800,000</div> -->
                            <div class="product-card__price">600,000 <span class="product-card__unit">تومان</span>
                            </div>
                        </div>
                        <div class="product-card__cart"><i class="ti ti-shopping-cart"></i></div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-card__img"><img src="img/product/prod4.jpeg" alt=""></div>
                    <div class="product-card__name">کیت آموزشی رباتیک پایه</div>
                    <div class="product-card__footer">
                        <div class="product-card__price-box">
                            <!-- <div class="product-card__old ">800,000</div> -->
                            <div class="product-card__price">600,000 <span class="product-card__unit">تومان</span>
                            </div>
                        </div>
                        <div class="product-card__cart"><i class="ti ti-shopping-cart"></i></div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-card__img"><img src="img/product/prod5.jpeg" alt=""></div>
                    <div class="product-card__name">کیت آموزشی رباتیک پایه</div>

                    <div class="product-card__footer">
                        <div class="product-card__price-box">
                            <!-- <div class="product-card__old ">800,000</div> -->
                            <div class="product-card__price">600,000 <span class="product-card__unit">تومان</span>
                            </div>
                        </div>
                        <div class="product-card__cart"><i class="ti ti-shopping-cart"></i></div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-card__badge">13%</div>
                    <div class="product-card__img"><img src="img/product/prod7.jpeg" alt=""></div>
                    <div class="product-card__name">کیت آموزشی رباتیک پایه</div>
                    <div class="product-card__footer">
                        <div class="product-card__price-box">
                            <div class="product-card__old ">800,000</div>
                            <div class="product-card__price">600,000 <span class="product-card__unit">تومان</span>
                            </div>
                        </div>
                        <div class="product-card__cart"><i class="ti ti-shopping-cart"></i></div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-card__badge">13%</div>
                    <div class="product-card__img"><img src="img/product/prod1.jpeg" alt=""></div>
                    <div class="product-card__name">پکیج قطعات الکترونیک کامل</div>

                    <div class="product-card__footer">
                        <div class="product-card__price-box">
                            <div class="product-card__old ">800,000</div>
                            <div class="product-card__price">600,000 <span class="product-card__unit">تومان</span>
                            </div>
                        </div>
                        <div class="product-card__cart"><i class="ti ti-shopping-cart"></i></div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-card__badge">13%</div>
                    <div class="product-card__img"><img src="img/product/prod2.jpeg" alt=""></div>
                    <div class="product-card__name">ست آموزشی آردوینو حرفه‌ای</div>
                    <div class="product-card__footer">
                        <div class="product-card__price-box">
                            <div class="product-card__old ">800,000</div>
                            <div class="product-card__price">600,000 <span class="product-card__unit">تومان</span>
                            </div>
                        </div>
                        <div class="product-card__cart"><i class="ti ti-shopping-cart"></i></div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-card__img"><img src="img/product/prod3.jpeg" alt=""></div>
                    <div class="product-card__name">ابزار کامل ساخت پروژه</div>
                    <div class="product-card__footer">
                        <div class="product-card__price-box">
                            <!-- <div class="product-card__old ">800,000</div> -->
                            <div class="product-card__price">600,000 <span class="product-card__unit">تومان</span>
                            </div>
                        </div>
                        <div class="product-card__cart"><i class="ti ti-shopping-cart"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- script -->
    <script src="js/best-seller.js"></script>